
        h2 {
            margin-left: 20px;
            margin-top: 20px;
        }
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #211F2A;

            color: white;
        }
        tr:nth-child(even) {
            background-color: #252836;
            ;
        }
