.modifierprofil{
    margin-left: 10%;
}

.formulaire{
    display: flex;
    height: 70vh;
}

.formulaire form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input{
    background-color: #2B2F40;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
}

input:focus {
    border-color: #7b61ff;
}


input[type="submit"] {
    background-color: #7b61ff;
    border: none;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #6a50e8;
}

